<nav class="navbar navbar-expand-lg navbar-dark" >
    <a class="navbar-brand" href="#">COVID-19 Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item " routerLinkActive="active" *ngIf="isLogged">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
          <a class="nav-link"  routerLink="news">Noticias</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
          <a class="nav-link"  (click)="cerrarSesion()" routerLink="login">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
