
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/flags.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Datos sobre un país en específico</h5>
        <p class="card-text">Aquí podrás consultar información sobre los casos de covid en un país en específico.</p>
        <div class="form-group">
          <b><label for="countries">Selecciona un país</label></b>
          <select id="countries" name="countries" [(ngModel)]="paises" class="form-control"> 
            <option *ngFor="let pais of paises"  [value]="opcion"> 
                {{pais.Country}}
            </option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/global.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Datos Globales</h5>
        <p class="card-text">Información al día de los casos de covid en todo el mundo</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/registro.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Consultas históricas</h5>
        <p class="card-text">Aquí podrás ver las consultas hechas para un país en específico en fechas anteriores, además de los casos globales ocurridos en dicha fecha.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

