
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/flags.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Datos sobre un país en específico</h5>
        <p class="card-text">Aquí podrás consultar información sobre los casos de covid en un país en específico.</p>
        <div class="form-group">
          <form (submit)="consultar()">
            <label for="countries"><b>Selecciona un país</b></label>
          <select id="countries" name="countries"  class="form-control" [(ngModel)]="opcion"> 
            <option disabled >Selecciona una opción</option>
            <option *ngFor="let pais of paises" [ngValue]="pais"> 
                {{pais.Country}}
            </option>
          </select>
          <hr>
          <button type="submit" class="btn btn-primary" href="#datos_pais" data-toggle="modal" >Consultar</button>
        </form>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/global.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Datos Globales</h5>
        <p class="card-text">Información al día de los casos de covid en todo el mundo</p>
        <div class="center-block text-center">
          <p class="card-text"><b>Total de Casos: </b> {{g_casostotales}}</p>
          <p class="card-text"><b>Total de Muertes: </b> {{g_muertestotales}}</p>
          <p class="card-text"><b>Total de Recuperados: </b> {{g_rectotales}}</p>
          <p class="card-text"><b>Total de Casos Nuevos: </b> {{g_nuevosconf}}</p>
          <p class="card-text"><b>Total de Nuevas Muertes: </b> {{g_nuevasmuertes}}</p>
          <p class="card-text"><b>Total de Nuevos Recuperados: </b> {{g_nuevosrec}}</p>
        </div>
        <hr>
        <p class="card-text"><b>Fecha: </b> {{fecha_aux}}</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/registro.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Consultas históricas</h5>
        <p class="card-text">Aquí podrás ver las consultas hechas para un país en específico en fechas anteriores, además de los casos globales ocurridos en dicha fecha.</p>
      </div>
    </div>
  </div>

  <div id="datos_pais" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title"><b>Llave de accesso </b></h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&nbsp; ¿Estás seguro? </h4>
            </div>
            <div class="modal-body center-block text-center">
              <p class="card-text"><b>País: </b> {{nombrepais}}</p>
              <p class="card-text"><b>Total de Casos: </b> {{casostotales}}</p>
              <p class="card-text"><b>Total de Muertes: </b> {{muertestotales}}</p>
              <p class="card-text"><b>Total de Recuperados: </b> {{rectotales}}</p>
              <p class="card-text"><b>Total de Casos Nuevos: </b> {{nuevosconf}}</p>
              <p class="card-text"><b>Total de Nuevas Muertes: </b> {{nuevasmuertes}}</p>
              <p class="card-text"><b>Total de Nuevos Recuperados: </b> {{nuevosrec}}</p>
            </div>
            <hr>
            <p class="card-text"><b>Fecha: </b> {{fecha_aux}}</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Regresar</button>
            </div>
        </div>
    </div>
  </div>